#casa {
	display: inline-block;
}
#base{
	position: absolute;
}
#nube1 {
     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: gray;
     position: absolute;
     top: 100px;
     left: 155px;
}
#nube2 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: gray;
     position: absolute;
     top: 50px;
     left: 160px;
}
#techo {
     width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid brown;
     position: absolute;
}
#chimenea {
	width: 30px;
	height: 50px;
	background-color: green;
	position: relative;
	left: 110px;
	bottom: 65px;
}
#pared {
	width: 140px;
	height: 100px;
	background-color: yellow;
	position: relative;
	top: 100px;
	right: 70px;
}
#puerta {
	width: 50px;
	height: 65px;
	background-color: blue;
	position: relative;
	bottom: 15px;
	left: 45px;
}

#baseAuto {
	width: 100px;
	height: 50px;
	background-color: purple;
	position: relative;
	top: 270px;
	left: 300px;
	position: absolute;
}
#ventana1 {
	width: 40px;
	height: 40px;
	background-color: #EC8FF5;
	position: absolute;
	bottom: 50px;
}
#ventana2 {

}
#rueda1 {
	width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: black;
     position: absolute;
     top: 75%;
     left: 10px;
}
#rueda2 {
	width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: black;
     position: absolute;
     right: 10px;
     top: 65%;
}









